In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv('datasets/diabetic_data.csv')

In [3]:
df.head().T

,0,1,2,3,4
encounter_id,2278392,149190,64410,500364,16680
patient_nbr,8222157,55629189,86047875,82442376,42519267
race,Caucasian,Caucasian,AfricanAmerican,Caucasian,Caucasian
gender,Female,Female,Female,Male,Male
age,[0-10),[10-20),[20-30),[30-40),[40-50)
weight,?,?,?,?,?
admission_type_id,6,1,1,1,1
discharge_disposition_id,25,1,1,1,1
admission_source_id,1,7,7,7,7
time_in_hospital,1,3,2,2,1
payer_code,?,?,?,?,?
medical_specialty,Pediatrics-Endocrinology,?,?,?,?
num_lab_procedures,41,59,11,44,51
num_procedures,0,0,5,1,0
num_medications,1,18,13,16,8
number_outpatient,0,0,2,0,0
number_emergency,0,0,0,0,0
number_inpatient,0,0,1,0,0
diag_1,250.83,276,648,8,197
diag_2,?,250.01,250,250.43,157
diag_3,?,255,V27,403,250
number_diagnoses,1,9,6,7,5
max_glu_serum,None,None,None,None,None
A1Cresult,None,None,None,None,None
metformin,No,No,No,No,No
repaglinide,No,No,No,No,No
nateglinide,No,No,No,No,No
chlorpropamide,No,No,No,No,No
glimepiride,No,No,No,No,No
acetohexamide,No,No,No,No,No
glipizide,No,No,Steady,No,Steady
glyburide,No,No,No,No,No
tolbutamide,No,No,No,No,No
pioglitazone,No,No,No,No,No
rosiglitazone,No,No,No,No,No
acarbose,No,No,No,No,No
miglitol,No,No,No,No,No
troglitazone,No,No,No,No,No
tolazamide,No,No,No,No,No
examide,No,No,No,No,No
citoglipton,No,No,No,No,No
insulin,No,Up,No,Up,Steady
glyburide-metformin,No,No,No,No,No
glipizide-metformin,No,No,No,No,No
glimepiride-pioglitazone,No,No,No,No,No
metformin-rosiglitazone,No,No,No,No,No
metformin-pioglitazone,No,No,No,No,No
change,No,Ch,No,Ch,Ch
diabetesMed,No,Yes,Yes,Yes,Yes
readmitted,NO,>30,NO,NO,NO

In [4]:
df.shape

(101766, 50)

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
encounter_id,101766.0,1.652016e+08,1.026403e+08,12522.0,84961194.0,152388987.0,2.302709e+08,443867222.0
patient_nbr,101766.0,5.433040e+07,3.869636e+07,135.0,23413221.0,45505143.0,8.754595e+07,189502619.0
admission_type_id,101766.0,2.024006e+00,1.445403e+00,1.0,1.0,1.0,3.000000e+00,8.0
discharge_disposition_id,101766.0,3.715642e+00,5.280166e+00,1.0,1.0,1.0,4.000000e+00,28.0
admission_source_id,101766.0,5.754437e+00,4.064081e+00,1.0,1.0,7.0,7.000000e+00,25.0
time_in_hospital,101766.0,4.395987e+00,2.985108e+00,1.0,2.0,4.0,6.000000e+00,14.0
num_lab_procedures,101766.0,4.309564e+01,1.967436e+01,1.0,31.0,44.0,5.700000e+01,132.0
num_procedures,101766.0,1.339730e+00,1.705807e+00,0.0,0.0,1.0,2.000000e+00,6.0
num_medications,101766.0,1.602184e+01,8.127566e+00,1.0,10.0,15.0,2.000000e+01,81.0
number_outpatient,101766.0,3.693572e-01,1.267265e+00,0.0,0.0,0.0,0.000000e+00,42.0
number_emergency,101766.0,1.978362e-01,9.304723e-01,0.0,0.0,0.0,0.000000e+00,76.0
number_inpatient,101766.0,6.355659e-01,1.262863e+00,0.0,0.0,0.0,1.000000e+00,21.0
number_diagnoses,101766.0,7.422607e+00,1.933600e+00,1.0,6.0,8.0,9.000000e+00,16.0

### Dealing with Missing Values

In [6]:
df.isnull().values.any()

False

#### Observation
___
    - In the dataset missing values are represented as '?' sign and not as 'NaN' beacause of which it says that we dont have any missing values.

_Let's check for the missing values_

In [7]:
missingdatacols = list()
for col in df.columns:
    if df[col].dtype == object:
        totalMissing = df[col][df[col] == '?'].count()
        if totalMissing > 0:
            percentMissing = round(100 * float(totalMissing)/float(df.shape[0]), 2)
            missingdatacols.append((col, totalMissing, percentMissing))
missingdatacols = sorted(missingdatacols, key=lambda tup: tup[1], reverse=True)

In [8]:
for missing in missingdatacols:
    print(f"{missing[0]} has {missing[1]} values missing, which represents {missing[2]} % of the total data.")

weight has 98569 values missing, which represents 96.86 % of the total data.
medical_specialty has 49949 values missing, which represents 49.08 % of the total data.
payer_code has 40256 values missing, which represents 39.56 % of the total data.
race has 2273 values missing, which represents 2.23 % of the total data.
diag_3 has 1423 values missing, which represents 1.4 % of the total data.
diag_2 has 358 values missing, which represents 0.35 % of the total data.
diag_1 has 21 values missing, which represents 0.02 % of the total data.

#### Observation and next steps
___
    - We cannot just update missing values with mean or median which has almost more than half of the values missing.
    - Need to drop the payer_code, medical_specialty and weight column.
    - Need to drop missing value rows for race, diag_1, diag_2, diag_3 as there are very few value missing.

In [9]:
# drop columns with large number of missing values
df.drop(columns=['payer_code','medical_specialty','weight'], axis=1, inplace=True)

In [10]:
# replace ? with NaN
df.replace('?', np.nan , inplace=True)

In [11]:
# drop all rows with NaN
df.dropna(axis=0, inplace=True)

In [12]:
df.shape

(98053, 47)

### Dealing with Duplicates

In [13]:
duplicate = df[df.duplicated()]

In [14]:
duplicate

Empty DataFrame
Columns: [encounter_id, patient_nbr, race, gender, age, admission_type_id, discharge_disposition_id, admission_source_id, time_in_hospital, num_lab_procedures, num_procedures, num_medications, number_outpatient, number_emergency, number_inpatient, diag_1, diag_2, diag_3, number_diagnoses, max_glu_serum, A1Cresult, metformin, repaglinide, nateglinide, chlorpropamide, glimepiride, acetohexamide, glipizide, glyburide, tolbutamide, pioglitazone, rosiglitazone, acarbose, miglitol, troglitazone, tolazamide, examide, citoglipton, insulin, glyburide-metformin, glipizide-metformin, glimepiride-pioglitazone, metformin-rosiglitazone, metformin-pioglitazone, change, diabetesMed, readmitted]
Index: []

[0 rows x 47 columns]

#### Observation
___
    - There are no Duplicate rows.

### Investigating Data

In [15]:
# create dataframe which contains unique values of all columns and it's count
def uniqueValueDataFrame(df):
    col_name = []
    unique_value_list = []
    total_unique_value = []
    data_type = []
    for col in df.columns:
        col_name.append(col)
        unique_value_list.append(df[col].unique())
        total_unique_value.append(len(df[col].unique()))
        data_type.append(df[col].dtype)
    
    data = pd.DataFrame({"col":col_name, "unique values":unique_value_list, "unique count":total_unique_value, "data type":data_type})
    
    data = data.set_index("col")
    return data.sort_values("unique count",ascending=False)


unique_data = uniqueValueDataFrame(df)

In [16]:
from pandas import option_context

with option_context('display.max_colwidth', 200):
    display(unique_data)

,unique values,unique count,data type
col,,,
encounter_id,"[149190, 64410, 500364, 16680, 35754, 55842, 63768, 12522, 15738, 28236, 36900, 40926, 42570, 62256, 73578, 77076, 84222, 89682, 182796, 183930, 216156, 221634, 236316, 248916, 250872, 252822, 253...",98053,int64
patient_nbr,"[55629189, 86047875, 82442376, 42519267, 82637451, 84259809, 114882984, 48330783, 63555939, 89869032, 77391171, 85504905, 77586282, 49726791, 86328819, 92519352, 108662661, 107389323, 63000108, 10...",68630,int64
diag_3,"[255, V27, 403, 250, V45, 38, 486, 996, 197, 250.6, 427, 627, 414, 416, 582, V43, 250.01, 263, 250.42, 276, 482, 401, 250.41, 585, 781, 278, 998, 428, 568, 682, 250.02, 305, 707, 496, 599, 424, 51...",786,object
diag_2,"[250.01, 250, 250.43, 157, 411, 492, 427, 198, 403, 288, 998, 507, 174, 425, 401, 715, 496, 428, 585, 250.02, 410, 999, 996, 135, 244, 41, 571, 276, 997, 599, 424, 491, 553, 707, 286, 440, 493, 24...",740,object
diag_1,"[276, 648, 8, 197, 414, 428, 398, 434, 250.7, 157, 518, 999, 410, 682, 402, V57, 189, 786, 427, 996, 277, 584, 462, 473, 411, 174, 486, 998, 511, 432, 626, 295, 196, 250.6, 182, 845, 423, 808, 250...",713,object
num_lab_procedures,"[59, 11, 44, 51, 31, 70, 73, 68, 33, 47, 62, 60, 55, 49, 75, 45, 29, 35, 42, 19, 64, 25, 53, 52, 87, 27, 37, 46, 41, 28, 36, 48, 72, 10, 2, 65, 67, 40, 58, 57, 32, 83, 34, 39, 69, 38, 56, 22, 96, ...",118,int64
num_medications,"[18, 13, 16, 8, 21, 12, 28, 17, 11, 15, 31, 2, 23, 19, 7, 20, 14, 10, 22, 9, 27, 25, 32, 6, 30, 26, 24, 4, 33, 5, 39, 3, 29, 61, 1, 40, 46, 41, 36, 34, 35, 50, 43, 42, 37, 51, 38, 45, 54, 52, 49, ...",75,int64
number_outpatient,"[0, 2, 1, 5, 7, 9, 3, 8, 4, 12, 11, 6, 20, 15, 10, 13, 14, 16, 21, 35, 17, 29, 36, 18, 19, 27, 22, 24, 42, 39, 34, 26, 33, 25, 23, 28, 37, 38, 40]",39,int64
number_emergency,"[0, 1, 4, 2, 3, 9, 7, 5, 6, 8, 22, 25, 10, 13, 42, 16, 11, 28, 15, 14, 18, 12, 21, 20, 19, 46, 76, 37, 64, 63, 54, 24, 29]",33,int64
discharge_disposition_id,"[1, 3, 6, 2, 5, 11, 7, 25, 10, 4, 14, 18, 8, 13, 12, 16, 17, 22, 23, 9, 20, 15, 24, 28, 19, 27]",26,int64
number_inpatient,"[0, 1, 2, 3, 6, 5, 4, 7, 8, 9, 15, 10, 11, 14, 12, 13, 16, 21, 18, 19]",20,int64
admission_source_id,"[7, 2, 4, 1, 5, 6, 20, 3, 17, 8, 9, 14, 10, 22, 11, 25, 13]",17,int64
time_in_hospital,"[3, 2, 1, 4, 5, 13, 12, 9, 7, 10, 11, 6, 8, 14]",14,int64
number_diagnoses,"[9, 6, 7, 5, 8, 3, 4, 16, 12, 13, 15, 10, 11, 14]",14,int64
age,"[[10-20), [20-30), [30-40), [40-50), [50-60), [60-70), [70-80), [80-90), [90-100), [0-10)]",10,object
admission_type_id,"[1, 2, 3, 6, 4, 5, 8, 7]",8,int64
num_procedures,"[0, 5, 1, 6, 2, 3, 4]",7,int64
race,"[Caucasian, AfricanAmerican, Other, Asian, Hispanic]",5,object
acarbose,"[No, Steady, Up, Down]",4,object
pioglitazone,"[No, Steady, Up, Down]",4,object
rosiglitazone,"[No, Steady, Up, Down]",4,object
glyburide-metformin,"[No, Steady, Down, Up]",4,object
miglitol,"[No, Steady, Down, Up]",4,object
insulin,"[Up, No, Steady, Down]",4,object
glipizide,"[No, Steady, Up, Down]",4,object
glyburide,"[No, Steady, Up, Down]",4,object
nateglinide,"[No, Steady, Down, Up]",4,object
chlorpropamide,"[No, Steady, Down, Up]",4,object
repaglinide,"[No, Up, Steady, Down]",4,object
metformin,"[No, Steady, Up, Down]",4,object
A1Cresult,"[None, >7, >8, Norm]",4,object
glimepiride,"[No, Steady, Down, Up]",4,object
max_glu_serum,"[None, >300, Norm, >200]",4,object
readmitted,"[>30, NO, <30]",3,object
tolazamide,"[No, Steady, Up]",3,object
gender,"[Female, Male, Unknown/Invalid]",3,object
glimepiride-pioglitazone,"[No, Steady]",2,object
diabetesMed,"[Yes, No]",2,object
change,"[Ch, No]",2,object
metformin-pioglitazone,"[No, Steady]",2,object
acetohexamide,"[No, Steady]",2,object
glipizide-metformin,"[No, Steady]",2,object
troglitazone,"[No, Steady]",2,object
tolbutamide,"[No, Steady]",2,object
metformin-rosiglitazone,[No],1,object
examide,[No],1,object
citoglipton,[No],1,object

#### Observations and next steps
___
    - metformin-rosiglitazone, citoglipton, examide are Categorical columns with just one category 'No' so we will drop these columuns as they wont be adding any value to the prediction.
    - encounter_idand patient_nbr are just ID's of the record and patient respectively so we will drop those as well.
    - gender has 3 category which needs to be fixed.
    - target variable readmitted has 3 values which need to be converted into 0 and 1.

**_Drop columns that we don't need_**

In [17]:
one_cat_cols = unique_data[unique_data['unique count'] == 1].index.to_list()
ids_cols = unique_data[unique_data['unique count'] > 1000].index.to_list()
unwanted_cols = one_cat_cols + ids_cols

df.drop(columns=unwanted_cols, axis=1, inplace=True)

In [18]:
df.shape

(98053, 42)

**_Fixing 3 categories in gender_**

In [19]:
df.gender.value_counts()
df.gender.replace('Unknown/Invalid', np.nan , inplace=True)
df.dropna(subset=['gender'], how='all', inplace = True)

df['gender'] = df['gender'].replace(['Female','Male'],[0,1]).astype(int)

**_Fixing 3 category in target variable_**

_as we are checking if the patient was readmitted within 30 days we will update values with >30 as 0 as the patient was not admitted before 30 days_

In [20]:
df.readmitted = [1 if p == '<30' else 0 for p in df.readmitted]
df.readmitted.value_counts()

0    86986
1    11066
Name: readmitted, dtype: int64

**_Dealing with Binned Age values_**

_we will update the already binned age values to age group_

In [21]:
# age va;lues = [[0-10), [10-20), [20-30), [30-40), [40-50), [50-60), [60-70), [70-80), [80-90), [90-100)]
age_group = {'[0-10)':'Child', '[10-20)':'Young', '[20-30)':'Young', '[30-40)':'Adult', '[40-50)':'Adult',  '[50-60)':'Old', '[60-70)':'Old', '[70-80)':'Old', '[80-90)':'Old', '[90-100)':'Old'}
df['age'] = df.age.map(age_group)

age_map = {'Child':1, 'Young':2, 'Adult':3, 'Old':4}
df['age'] = df.age.map(age_map)

**_Dealing with Race variable_**

In [22]:
race_map = {'Caucasian':1, 'AfricanAmerican':2, 'Hispanic':3, 'Asian':4, 'Other':5}
df['race'] = df.race.map(race_map)

**_Dealing with Change variable_**

_Indicates if there was a change in diabetic medications (either dosage or generic name). Values: â€œChâ€ and â€œNoâ€_

In [23]:
df['change'] = df['change'].replace('Ch', 1)
df['change'] = df['change'].replace('No', 0)
df.rename(columns={"change": "medication_change"}, inplace=True)

**_Dealing with Features having [No, Up, Steady, Down] and [No, Steady] as values_**

_As [No] tell us that there was no change so will update it to 0 and if there was a change [Up, Down, steady] we will make it 1_

In [24]:
nosteadycols = list()
for i, d in unique_data.iterrows():
    if d['unique count'] < 5:
        val = d['unique values'].tolist()
        if ('No' in val) and ('Steady' in val) :
            nosteadycols.append(i)

In [25]:
for col in nosteadycols:
    df[col] = df[col].replace(['No','Steady','Up','Down'],[0,1,1,1]).astype(int)

**_Converting diabetesMed to 0 and 1 from Yes and NO_**

In [26]:
df['diabetesMed'] = df['diabetesMed'].replace(['No','Yes'],[0,1]).astype(int)

**_Dealing With A1Cresult_**

_The normal A1C range is 4-6%. For people with diabetes, the lower the A1C value, the better the diabetes control and the lower the risk of developing complications. so we will convert it to 0 if none or normal else 1_

In [27]:
df['A1Cresult'] = df['A1Cresult'].replace(['None', 'Norm', '>7', '>8'],[0,0,1,1]).astype(int)

**_Dealing With max_glu_serum_**

_If the glucose level is below 100 it is normal and if it goes beyond 300 that indicates diabetes and values above 100 may also indicate pre-diabetes, level depends what you ate before the test_

In [28]:
df['max_glu_serum'] = df['max_glu_serum'].replace(['None', 'Norm', '>300', '>200'],[0,0,1,1]).astype(int)

_ID Mapping for Admmission Type Id, Admission Source Id and Discharge Disposition Id_

In [29]:
df_id = pd.read_csv('datasets/id_mapping.csv') 
with option_context('display.max_rows', 500, 'display.max_colwidth', 100):
    display(df_id)

,admission_type_id,description
0,1,Emergency
1,2,Urgent
2,3,Elective
3,4,Newborn
4,5,Not Available
5,6,NaN
6,7,Trauma Center
7,8,Not Mapped
8,NaN,NaN
9,discharge_disposition_id,description
10,1,Discharged to home
11,2,Discharged/transferred to another short term hospital
12,3,Discharged/transferred to SNF
13,4,Discharged/transferred to ICF
14,5,Discharged/transferred to another type of inpatient care institution
15,6,Discharged/transferred to home with home health service
16,7,Left AMA
17,8,Discharged/transferred to home under care of Home IV provider
18,9,Admitted as an inpatient to this hospital
19,10,Neonate discharged to another hospital for neonatal aftercare
20,11,Expired
21,12,Still patient or expected to return for outpatient services
22,13,Hospice / home
23,14,Hospice / medical facility
24,15,Discharged/transferred within this institution to Medicare approved swing bed
25,16,Discharged/transferred/referred another institution for outpatient services
26,17,Discharged/transferred/referred to this institution for outpatient services
27,18,NaN
28,19,"Expired at home. Medicaid only, hospice."
29,20,"Expired in a medical facility. Medicaid only, hospice."
30,21,"Expired, place unknown. Medicaid only, hospice."
31,22,Discharged/transferred to another rehab fac including rehab units of a hospital .
32,23,Discharged/transferred to a long term care hospital.
33,24,Discharged/transferred to a nursing facility certified under Medicaid but not certified under Me...
34,25,Not Mapped
35,26,Unknown/Invalid
36,30,Discharged/transferred to another Type of Health Care Institution not Defined Elsewhere
37,27,Discharged/transferred to a federal health care facility.
38,28,Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a...
39,29,Discharged/transferred to a Critical Access Hospital (CAH).
40,NaN,NaN
41,admission_source_id,description
42,1,Physician Referral
43,2,Clinic Referral
44,3,HMO Referral
45,4,Transfer from a hospital
46,5,Transfer from a Skilled Nursing Facility (SNF)
47,6,Transfer from another health care facility
48,7,Emergency Room
49,8,Court/Law Enforcement
50,9,Not Available
51,10,Transfer from critial access hospital
52,11,Normal Delivery
53,12,Premature Delivery
54,13,Sick Baby
55,14,Extramural Birth
56,15,Not Available
57,17,NaN
58,18,Transfer From Another Home Health Agency
59,19,Readmission to Same Home Health Agency
60,20,Not Mapped
61,21,Unknown/Invalid
62,22,Transfer from hospital inpt/same fac reslt in a sep claim
63,23,Born inside this hospital
64,24,Born outside this hospital
65,25,Transfer from Ambulatory Surgery Center
66,26,Transfer from Hospice

**_Dealing With Admission Type Id_**

In [30]:
#1,2,7 comes under emergency so we will make those 1 and 5,6,8 comes under emergency so will make those as same category.
df['admission_type_id'] = df['admission_type_id'].replace([2, 7, 3, 4, 5, 6, 8],[1,1,2,3,4,4,4]).astype(int)

# 1 = Emergency, 2 = Elective, 3 = Birth, 4 = Unknown

**_Dealing With Admission Source Id_**

In [31]:
# make all referal as one category, transferred as one category, birth related as one category and not available as one category
df['admission_source_id'] = df['admission_source_id'].replace([2,3, 4,5,6,10,18,19,22,25,26, 11,12,13,14,23,24, 8, 7, 9,15,17,20,21],[1,1, 2,2,2,2,2,2,2,2,2, 3,3,3,3,3,3, 4, 5, 6,6,6,6,6]).astype(int)

# 1 = Referral, 2 = Transfer, 3 = Birth, 4 = Court/Law Enforcement, 5 = Emergency, 6 = Unknown

**_Dealing With discharge_disposition_id_**

In [32]:
# As above we will create one categotory for all the discharge codes that are related.
df['discharge_disposition_id'] = df['discharge_disposition_id'].replace([1,6,8, 2,3,4,5,15,16,17,22,23,24,30,27,28,29, 13,14, 11,19,20,21, 7,9,10,12, 18,25,26],
                                                                        [1,1,1, 2,2,2,2,2,2,2,2,2,2,2,2,2,2, 3,3, 4,4,4,4, 5,6,7,8, np.nan,np.nan,np.nan])

# 1 = Home, 2 = transferred, 3 = Hospice, 4 = Dead, 5 = Left Against medical advice, 6 = Admitted as an inpatient to this hospital, 7 = Birth, 8 = Still patient or expected to return for outpatient services

In [33]:
# As discharge ID NaN are for those who died we must remove all those record as it is obvious that they won't be returning/readmitting
df.dropna(axis=0, inplace=True)
df['discharge_disposition_id'] = df['discharge_disposition_id'].astype(int)

**_Dealing With Diagnosis 1/2/3_**

In [34]:
def transformCategory(value):
    
    if ('V' in value) or ('E' in value):
        category = 1
    else:
        value = float(value)
        if (value >= 390) and (value <= 459) or (value == 785):
            category = 2
        elif (value >= 460) and (value <= 519) or (value == 786):
            category = 3
        elif (value >= 520) and (value <= 579) or (value == 787):
            category = 4
        elif (value >= 250) and (value< 251):
            category = 9 
        elif (value >= 800) and (value <= 999):
            category = 5
        elif (value >= 710) and (value <= 739):
            category = 6
        elif (value >= 580) and (value <= 629) or (value == 788):
            category = 7    
        elif value>=140 and value<=239 :
            category = 8
        else :
            category = 1

    return category

# {1:'Other', 2:'Circulatory', 3:'Respiratory', 4:'Digestive', 5:'Injury', 6:'Musculoskeletal', 7:'Genitourinary', 8:'Neoplasms', 9:'Diabetes'}

In [35]:
diag = ['diag_1','diag_2','diag_3']
for col in diag:
    df[col] = df[col].apply(transformCategory)

In [36]:
unique_data = uniqueValueDataFrame(df) # as we updated most of columns values we will call the funcation again to update the unique values and counts
with option_context('display.max_colwidth', 200):
    display(unique_data)

,unique values,unique count,data type
col,,,
num_lab_procedures,"[59, 11, 44, 51, 31, 70, 73, 68, 33, 47, 62, 60, 55, 49, 75, 45, 29, 35, 42, 19, 64, 25, 53, 52, 87, 27, 37, 46, 41, 28, 36, 48, 72, 10, 2, 65, 67, 40, 58, 57, 32, 83, 34, 39, 69, 38, 56, 22, 96, ...",118,int64
num_medications,"[18, 13, 16, 8, 21, 12, 28, 17, 11, 15, 31, 2, 23, 19, 7, 20, 14, 10, 22, 9, 27, 25, 32, 6, 30, 26, 4, 24, 33, 5, 29, 40, 3, 46, 41, 36, 50, 43, 42, 34, 51, 35, 38, 45, 37, 1, 54, 52, 49, 62, 39, ...",75,int64
number_outpatient,"[0, 2, 1, 5, 7, 9, 3, 8, 4, 12, 11, 6, 20, 15, 10, 13, 14, 16, 21, 35, 17, 29, 36, 18, 19, 27, 22, 24, 42, 39, 34, 26, 33, 25, 23, 28, 37, 38, 40]",39,int64
number_emergency,"[0, 1, 4, 2, 3, 9, 7, 5, 6, 8, 22, 25, 10, 13, 42, 16, 11, 28, 15, 14, 18, 12, 21, 20, 19, 46, 76, 37, 64, 63, 54, 24, 29]",33,int64
number_inpatient,"[0, 1, 2, 3, 6, 5, 4, 7, 8, 9, 15, 10, 11, 14, 12, 13, 16, 21, 18, 19]",20,int64
number_diagnoses,"[9, 6, 7, 5, 8, 3, 4, 16, 12, 13, 15, 10, 11, 14]",14,int64
time_in_hospital,"[3, 2, 1, 4, 5, 13, 12, 9, 7, 10, 11, 6, 8, 14]",14,int64
diag_2,"[9, 8, 2, 3, 1, 5, 6, 7, 4]",9,int64
diag_1,"[1, 8, 2, 9, 3, 5, 7, 6, 4]",9,int64
diag_3,"[1, 2, 9, 3, 5, 8, 7, 4, 6]",9,int64
discharge_disposition_id,"[1, 2, 4, 5, 7, 3, 8, 6]",8,int32
num_procedures,"[0, 5, 1, 6, 2, 3, 4]",7,int64
admission_source_id,"[5, 1, 2, 6, 4, 3]",6,int32
race,"[1, 2, 5, 3, 4]",5,int64
admission_type_id,"[1, 2, 4, 3]",4,int32
age,"[2, 3, 4, 1]",4,int64
rosiglitazone,"[0, 1]",2,int32
diabetesMed,"[1, 0]",2,int32
medication_change,"[1, 0]",2,int64
metformin-pioglitazone,"[0, 1]",2,int32
glimepiride-pioglitazone,"[0, 1]",2,int32
glipizide-metformin,"[0, 1]",2,int32
glyburide-metformin,"[0, 1]",2,int32
insulin,"[1, 0]",2,int32
tolazamide,"[0, 1]",2,int32
troglitazone,"[0, 1]",2,int32
miglitol,"[0, 1]",2,int32
acarbose,"[0, 1]",2,int32
nateglinide,"[0, 1]",2,int32
pioglitazone,"[0, 1]",2,int32
tolbutamide,"[0, 1]",2,int32
glyburide,"[0, 1]",2,int32
glipizide,"[0, 1]",2,int32
acetohexamide,"[0, 1]",2,int32
glimepiride,"[0, 1]",2,int32
chlorpropamide,"[0, 1]",2,int32
gender,"[0, 1]",2,int32
repaglinide,"[0, 1]",2,int32
metformin,"[0, 1]",2,int32
A1Cresult,"[0, 1]",2,int32
max_glu_serum,"[0, 1]",2,int32
readmitted,"[0, 1]",2,int64

**_Save the cleaned Dataframe_**

In [37]:
df.to_csv('datasets/readmission_cleaned.csv',index=False)